.EGA-navbar {
  background-color: inherit !important;
}
.MuiPaper-root-17 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.EGA-Nav {
  position: absolute;
  right: 0;
}
#EGA-appBar {
  background: none !important;
  box-shadow: none !important;
}

.EGA-linkTabColor {
  color: rgb(255, 115, 0);
}

a {
  text-decoration: none !important;
}
a:hover {
  color: rgb(255, 115, 0) !important;
}
.MuiPrivateTabIndicator-colorSecondary-202 {
  background-color: rgb(255, 115, 0) !important;
}
