.MuiPaper-root-17 {
  position: absolute;
  top: 20px;
}
#EGA-appBar {
  position: relative !important;
  max-width: 100% !important;
  margin: auto !important;
  background: none !important;
  box-shadow: none !important;
}
#EGA-tabsContainer {
  display: flex;
  justify-content: flex-end;
}
.EGA-search-logo-title {
  position: absolute;
  left: 40px;
  color: white;
  font-size: 1.2rem;
  top: 0 !important;
}
.EGA-linkTabColor {
  color: rgb(255, 115, 0);
}

a {
  text-decoration: none !important;
}
a:hover {
  color: rgb(255, 115, 0) !important;
}
.EGA-orange {
  color: rgb(255, 115, 0);
}
#EGA-tabsContainer div div div button:focus {
  background: none;
}
#EGA-tabsContainer div div div button:hover {
  color: rgb(255, 115, 0) !important;
}