.EGA-navbar {
  background-color: inherit !important;
}
.MuiPrivateTabIndicator-colorSecondary-135 {
  background-color: white;
}
.MuiPaper-root-17 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.EGA-Nav {
  position: absolute;
  right: 0;
}
