.go-back {
    margin-top: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.go-back a {
    color: #838383 !important;
}

.go-back a:hover {
    color: #616161;
    text-decoration: none;
}

.go-back a:link {
    font-weight: bold;
}