.go-back {
    margin: 50px 0;
    font-size: 15px;
}

.go-back a {
    color: rgb(39,39,39) !important;
    font-weight: bold;
}

.go-back a:hover {
    color: black !important;
    text-decoration: none;
}
/* 
.go-back a:link {
    font-weight: bold;
} */