.EGA-search-wrapper {
  text-align: center;
  margin-top: 200px;
}
.EGA-searchbar-div {
  display: flex;
  justify-content: center;
}
#EGA-videoContainer {
  text-align: center;
  border: 1px solid white;
  margin-top: 30px;
  background: rgba(39, 39, 39, 0.596);
  padding: 50px;
  display: none;
}
#EGA-externalPadding {
  padding-top: 100px;
}
#EGA-sideTabs {
  position: sticky;
  top: 200px;
  text-align: center;
  margin-top: 65%;
  padding: 5px;
  display: none;
  background: none;
}
.APIMenuList-paper-110 {
  background: rgb(58, 57, 57) !important;
  margin: auto !important;
  width: 100% !important;
}
.MuiListItem-button-126:hover {
  background: rgb(238, 110, 5) !important;
}
.MuiMenuItem-root-115 {
  color: white !important;
}
