#EGA-documentationPageMain {
  margin: auto;
  width: 100%;
}
.react-swipeable-view-container {
  align-items: center !important;
}
#EGA-documentationMain {
  margin-top: 4%;
}
#EGA-documentationMain div div button:focus {
  background: rgb(255, 115, 0) !important;
  opacity: 0.7;
  color: white;
}
