.EGA-logo-img {
  width: 200px;
  margin: 200px;
  padding: 10px;
  border: solid 1px white;
}
.EGA-logo-img:hover {
  box-shadow: 0 10px 20px black; /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
}

.EGA-logo-img:active {
  box-shadow: 0 10px 20px white;
}
.EGA-logo-img:focus {
  box-shadow: 0 10px 20px white;
}

.EGA-logo-wrapper {
  text-align: center;
}
.EGA-logo-h2 {
  color: white;
  position: relative;
  top: -190px;
  font-size: 1rem;
}
