.chat-button {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  float: right;
}

.MuiButton-contained-14:hover {
  background: rgb(255, 115, 0) !important;
}

.MuiButton-contained-14:focus {
  background-color: #e0e0e0;
}

.chat-box {
  position: fixed !important;
  bottom: 20px;
  right: 100px;
  float: right;
}

.users-box {
  position: fixed !important;
  bottom: 20px;
  right: 500px;
  float: right;
}

.black-border {
  border: 0px solid transparent;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  background: rgb(255, 115, 0);
  text-align: center;
  padding: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.chat-users {
  background: grey;
  text-align: center;
  padding: 10px;
}

.messages {
  padding: 10px;
}

.ng-space {
  height: 80vh;
  width: 350px;
  background: white;
}

.flex {
  display: flex;
}

.message-submit {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.message-input {
}

.users-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.users-header:hover {
  cursor: pointer;
}

#header-username {
  font-weight: bolder;
}

.my-messages {
  text-align: right;
}

.messages {
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
}

.messages::-webkit-scrollbar {
  width: 12px;
  background: lightgray;
}

.messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.messages::-webkit-scrollbar-thumb {
  background: rgb(255, 115, 0);
}