.Authentication {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.Auth_test {
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
}
.Modal {
  width: 440px;
  height: 510px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.3);
  flex-grow: 5;
}
.back {
  flex: 2;
}
.dots {
  display: flex;
  flex: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.signIn {
  background-color: rgb(255, 135, 38);
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  order: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex-grow 0.3s ease;
  -moz-transition: flex-grow 0.3s ease;
  -webkit-transition: flex-grow 0.3s ease;
  -o-transition: flex-grow 0.3s ease;
}
.signIn:hover {
  flex-grow: 1.2;
  cursor: pointer;
}
.signInCollapsed {
  background-color: rgb(255, 135, 38);
  color: rgb(255, 255, 255);
  font-size: 20px;
  order: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: flex-grow 0.2s linear;
  -moz-transition: flex-grow 0.2s linear;
  -webkit-transition: flex-grow 0.2s linear;
  -o-transition: flex-grow 0.2s linear;
}
.signInCollapsed:hover {
  flex-grow: 1.4;
}
.signInExpanded {
  background-color: rgb(255, 135, 38);
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: flex-grow 0.5s ease-out;
  -moz-transition: flex-grow 0.5s ease-out;
  -webkit-transition: flex-grow 0.5s ease-out;
  -o-transition: flex-grow 0.5s ease-out;
}
.signUp {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  order: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex-grow 0.3s ease;
  -moz-transition: flex-grow 0.3s ease;
  -webkit-transition: flex-grow 0.3s ease;
  -o-transition: flex-grow 0.3s ease;
}
.signUpCollapsed {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  font-size: 20px;
  order: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: flex-grow 0.2s linear;
  -moz-transition: flex-grow 0.2s linear;
  -webkit-transition: flex-grow 0.2s linear;
  -o-transition: flex-grow 0.2s linear;
}
.signUpCollapsed:hover {
  flex-grow: 1.4;
}
.signUpExpanded {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex-grow 0.5s ease-out;
  -moz-transition: flex-grow 0.2s ease-out;
  -webkit-transition: flex-grow 0.5s ease-out;
  -o-transition: flex-grow 0.5s ease-out;
}
.signUp:hover {
  flex-grow: 1.2;
  cursor: pointer;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons {
  font-size: 75px;
}
.iconsCollapsed {
  font-size: 35px;
  margin-top: 30px;
  opacity: 0.8;
}
.logForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}
.logForm h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.logForm div div input {
  border: none !important;
  box-shadow: none !important;
}
.logForm div div input:focus {
  box-shadow: none !important;
  border: none !important;
}
.logForm div div div {
  color: white;
}
.logForm div div {
  color: white;
}
.logForm div .MuiInput-underline-9:after {
  border-bottom: 2px solid white !important;
}

.Input {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 5px;
  color: #fffce8;
  text-transform: uppercase;
}
.TextField div fieldset input {
  border: 0;
  color: #fffce8;
  background: transparent;
  font-family: "Roboto Condensed", sans-serif;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 300;
}
.Input div fieldset input:focus ~ label {
  opacity: 1;
}
.Input div fieldset input[type="text"] ~ label::before {
  content: "\f007";
}
.Input div fieldset input::-webkit-input-placeholder {
  color: #ffffff;
}
.Input div fieldset input[type="email"] ~ label::before {
  content: "\f1fa";
}
.Input div fieldset input[type="password"] ~ label::before {
  content: "\f023";
}
.iconVisibility {
  opacity: 0.7;
}
.iconVisibility:hover {
  opacity: 1;
  cursor: pointer;
}
.submitButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}
.socialNets {
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}
.socialNetsIcon {
  margin-right: 30px;
  opacity: 0.8;
  cursor: pointer;
}
.socialNetsIcon:hover {
  opacity: 1;
}
.forgotPass {
  color: #e0d1ff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 50px;
}
.submitSignIn {
  background: #ff7300;
  cursor: pointer;
}
.submitSignUp {
  background: rgba(43, 46, 56, 0.8);
  height: 35px;
  cursor: pointer;
}
.jrs-button .fa {
  font-size: 12px;
  margin-left: auto;
  position: relative;
  top: 1px;
}
.jrs-button:hover {
  transform: opacity(1);
}
.jrs-button:active {
  transform: scale(0.99);
}

.example-enter {
  margin-top: 30px;
  opacity: 0.01;
}
.example-enter.example-enter-active {
  margin-top: 0px;
  opacity: 1;
  transition: opacity 0.5s ease, margin 0.5s ease;
}

.example-leave {
  margin-top: 0px;
  opacity: 1;
}
.example-leave.example-leave-active {
  margin-top: -30px;
  opacity: 0.01;
  transition: opacity 0.3s ease, margin 0.5s ease;
}
