.EGA-background-image {
  position: fixed;
}
.EGA-stretch {
  height: 100%;
  background-image: no-repeat fixed right bottom !important;
  position: absolute;
  right: 0;
  bottom: 0;
}
.EGA-background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: right;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #656565;
}
