#EGA-teamContainer div {
  background: none;
}
#EGA-teamContainer h1 {
  color: white;
}
#EGA-teamContainer div button div h2 {
  color: white;
}
#EGA-teamContainer div button div p {
  color: white;
}
#EGA-teamContainer div div button {
  color: white;
}
#EGA-aboutSite h1 {
  color: white;
}
