#EGA-teamContainer div {
  background: none;
}
#EGA-teamContainer div button:hover {
  background: none;
}
#EGA-teamContainer div button:focus {
  background: none;
}
#EGA-teamContainer div button div {
  outline: none;
}

#EGA-teamContainer h1 {
  color: white;
}
#EGA-teamContainer div button div h2 {
  color: white;
}
#EGA-teamContainer div button div p {
  color: white;
}
#EGA-teamContainer div div button {
  color: white;
}
#EGA-teamContainer div div a {
  color: white;
}
#EGA-aboutSite h1 {
  color: white;
}
#EGA-aboutSiteTitle,
#EGA-aboutTeamTitle {
  font-size: 2rem;
}

#EGA-cardContainer {
  display: inline-flex;
}
#EGA-aboutPageContainer {
  margin-top: 40px;
}
